@import './normalise.css';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: hsla(188, 100%, 24%, 1);
  --secondary-color: hsla(203, 30%, 26%, 1);
  --white: hsla(188, 100%, 98%, 1);
  --black: hsla(203, 30%, 10%, 1);

  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 4rem;

  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-xxl: 2rem;

}

body {
  padding: var(--space-lg);
}

header {
  display: flex;
  flex-direction: column;


  &h4 {
    color: var(--black);
    font-size: var(--text-lg);
    font-weight: 700;

  }

}

nav {
  margin-top: var(--space-sm);

  & ul {
    display: flex;
    height: 2rem;
    align-items: center;
    align-items: stretch;
    color: var(--white);

  }

  & li {
    display: flex;
    padding: var(--space-sm);
    flex: 1 0 0;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: var(--primary-color);

    &:hover {
      background-color: var(--secondary-color);
      cursor: pointer;
    }

    & a {
      color: var(--white);
      text-decoration: none;
    }

  }


}

@media only screen and (max-width: 767px) {
  nav {

    & ul {
      display: flex;
      flex-direction: column;


    }


  }
}