@import url(./styles/normalise.css);
@import url(./styles/variables.css);

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.card {
  position: relative;
  display: grid;
  border-radius: 2rem;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  width: 320px;
}

.card__bg {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-area: 1 / 1;
  z-index: 0;
}

.card__more {
  grid-area: 1/1;
  z-index: 2;
  align-content: flex-end;
  display: flex;
  justify-content: flex-end;
  padding: var(--spacing-md) var(--spacing-lg);
}


.card__overlay {
  grid-area: 1 / 1;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent 60%);
  position: relative;
  z-index: 1;

}

.card__content {
  grid-area: 1 / 1;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
  gap: var(--spacing-sm);
  padding: var(--spacing-md);
  color: var(--white);
  height: 320px;
}


.card__number {
  font-size: var(--font-size-sm);
  opacity: 0.8;
}

.card__title {
  font-size: var(--font-size-2xl);
  font-weight: 600;
  margin: 0;
}

.card__tags {
  display: flex;
  gap: var(--spacing-xs);
  height: fit-content;

  & a {
    text-decoration: none;
    color: #fff;
    border: solid var(--gray) 1px;
    border-radius: 1rem;
    padding: 0.25rem 0.75rem;
    font-size: 0.875rem;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
      ;
    }
  }

}