body {
  background-color: var(--background-color);
  color: var(--text-base);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation-name: page;
  animation-duration: 1s;
}
